@use 'src/styles/vars';

.menu {
  position: fixed;
  left: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5em;
  height: 100%;
  background-color: vars.$menuColor;
  transition: 0.2s;
  z-index: 9;

  &:hover {
    width: 15em;
  
    .nav-closed {
      display: none;
    }
  
    .nav-open {
      display: contents;
    }
  
    .menu-buttons-item {
      padding-right: 2vw;
  
      &:hover {
        transform: translateX(5px);
        transition: .3s;
      }
    }
  
    .menu-buttons-link {
      color: vars.$secondaryColor;
  
      &:hover {
        color: rgb(173, 173, 173);
      }
    }
  }
  
  &-logo {
    width: 40%;
    margin-top: 5vw;
    margin-left: 30%;
  
      &:hover {
        transform: translateY(-5px);
        transition: .3s;
      }
  }

  &-buttons {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;

    &-item {
      display: flex;
      align-items: center;
    }

    &-logo {
      margin: 0.8vh;
      height: 1em;
    }
  }

  &-deezer {
    font-size: 1em;
    position: fixed;
    bottom: 1%;

    &-logo {
      height: 2em;
    }
  }
}

.nav-open {
  display: none;
}

@media screen and (max-width: 850px) {
  .menu {
    position: fixed;
    bottom: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 8vh;
    min-height: 60px;

    &:hover {
      width: 100%;
      
      .menu-buttons-name {
        display: none;
      }

      .menu-buttons-item {
        padding: 0;
  
        &:hover {
          transform: translateX(0);
          transform: translateY(-5px);
          transition: .3s;
        }
      }
    }

    &-logo {
      margin: auto;
      height: 4vh;
      min-height: 30px;
      width: auto;
      margin-left: 5vw;

      &:hover {
        transform: translateY(-5px);
        transition: .3s;
      }
    }
    
    &-buttons {
      width: 100%;
      flex-direction: row;
      margin-top: 0;
      display: flex;
      justify-content: space-evenly;

      &-logo {
        height: 2.5vh;
        min-height: 20px;
        width: auto;
      }
    }

    &-deezer {
      display: none;
    }
  }

  .team {
    display: none;
  }
}
