@use 'reset';
@use 'vars';


body {
  color: vars.$secondaryColor;
  font-family: 'Nunito Sans', sans-serif;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.1em;
  margin: 0.5em 0;
}

a {
  cursor: pointer;
}
