@use 'src/styles/vars';

.admin {
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  margin-left: 200px;

  &-container {
    background-color: vars.$menuColor;
    height: 96vh;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    margin: 1.5em;
    overflow-x: hidden;

    &-input {
      margin: 1em;
      padding: 1em;
      width: 30%;
      height: 2em;
    }

    &-section {
      margin: 1em;
      width: 95%;
      background-color: vars.$mainColor;
      display: flex;
      border-radius: 2px;

      &-img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 2%;
      }

      &-content {
        padding: 1em;
        width: 60%;
        
        &-title {
          font-size: 1.5em;
          font-weight: bold;
          height: 2em;
        }

        &-description {
          font-style: italic;
        }
      }

      &-button {
        height: 4em;
        margin: auto;
        margin-right: 4em;
        border-radius: 5px;
        padding: 1em;

        &:hover {
          transform: scale(1.1);
          background-color: red;
          transition: .3s;
        }
      }
    }
  }
}

@media screen and (max-width: 1700px) {
  .admin-container {
    padding: 1em;
    margin: 0.5em;
    width: 49%;

    &-input {
      width: 60%;
    }

    &-section {

      &-img {
        width: 100px;
        height: 100px;
      }

      &-content {

        &-title {
          font-size: 0.8em;
        }

        &-description {
          font-size: 0.5em;
        }
      }

      &-button {
        margin-right: 3em;
        height: 3em;
        padding: 0.8em;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .admin-container-section-button {
    margin-right: 2em;
    height: 2.2em;
    padding: 0.5em;
  }
}

@media screen and (max-width: 850px) {
  .admin {
    margin-left: 0;
    margin-bottom: 6em;

    &-container {
      margin: 0.5em;
      width: 49%;
      padding: 0.1em;

      &-input {
        width: 80%;
      }

      &-section {
        margin: 0.5em 0em 0em 0em;
        width: 100%;

        &-img {
          width: 80px;
          height: 80px;
        }

        &-content {
          padding: 0.5em;

          &-title {
            font-size: 0.5em;
          }

          &-description {
            font-size: 0.3em;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .admin {

    &-container {

      &-input {
        width: 95%;
        padding: 0.2em;
        font-size: 0.5em;
      }

      &-title {
        font-size: 1em;
      }

      &-section {
        flex-direction: column;
        align-items: center;

        &-img {
          width: 40px;
          height: 40px;
          margin-top: 1em;
        }

        &-content {
          align-items: center;
          text-align: center;
        }
        
        &-button {
          margin-right: 0;
          margin: 1em;
        }
      }
    }
  }
}
