@use 'src/styles/vars';

.playlist-update {
  display: flex;
  flex-direction: column;
  margin-left: 20em;
  margin-right: 5em;

  &-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 0.5em;

    &-name {
      font-size: 3em;
      margin-bottom: 0.2em;
    }
  }

  &-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em;
    justify-content: space-evenly;
    font-size: 2em;
    border-radius: 5px;
    padding-bottom: 2.5em;
    background-color: vars.$thirdColor;

    &-img {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 0.8em;
  
      &-content {
        width: 150px;
        height: 150px;
        border-radius: 2%;
        object-fit: cover;
        margin: 1em;
      }
  
      &-link {
        width: 20em;
        height: 3em;
        margin-top: 1em;
        border: none;
        background-color: vars.$mainColor;
        color: white;
        padding: 1em;
      }
    }

    &-info {
      display: flex;
      margin-top: 1.7em;
      flex-direction: column;

      &-name {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 0.8em;
    
        &-input {
          width: 20em;
          height: 3em;
          margin-top: 1em;
          border: none;
          background-color: vars.$mainColor;
          color: white;
          padding: 1em;
        }
      }

      &-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 0.8em;
        margin-top: 2em;
        
        &-input {
          width: 50em;
          height: 3em;
          margin-top: 1em;
          border: none;
          background-color: vars.$mainColor;
          color: white;
          padding: 1em;
        }
      }
    }
  }

  &-songs {
    margin-top: 1em;
    background-color: vars.$thirdColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 5em;

    &-button {
      border: none;
      background-color: vars.$thirdColor;
      color: white;
      display: flex;
      align-items: center;
      margin: 1em;

      &:hover {
        .playlist-update-songs-button-img {
          transform: translateY(2px);
        }
      }

      &-img {
        height: 2em;
        background-color: white;
        border-radius: 50%;
        padding: 0.5em;
        transition: .3s;
      }

      &-label {
        font-size: 1.2em;
        margin-left: 1em;
      }
    }

    &-list {
      display: flex;
      justify-content: space-evenly;
      width: 100%;

      &-tracks {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        width: 45%;

        &-title {
          text-align: center;
        }
      }

      &-search {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        width: 45%;

        &-title {
          text-align: center;
        }

        &-input {
          text-align: center;
          margin: 0.5em;
          width: 100%;
          border: none;
          color: white;
          background-color: vars.$mainColor;
          padding: 0.5em;
          border-radius: 5px;
          font-size: 1em;
        }
      }
    }
  }

  &-error {
    color: red;
    font-weight: bold;
    font-style: italic;
    margin: 0.5em;
    text-align: center;
  }

  &-buttons {
    font-size: 1.5em;

    &-delete {
      font-size: 1em;
      position: fixed;
      bottom: 2%;
      right: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: vars.$buttonColor;
      border-top: 0.3em solid vars.$buttonColor;
      border-bottom: 0.3em solid vars.$buttonColor;
      border-left: 1em solid vars.$buttonColor;
      border-right: 1em solid vars.$buttonColor;
      border-radius: 25px;
      cursor: pointer;
      color: vars.$secondaryColor;
      transition: .3s;

      &:hover {
        transform: scale(1.1);
      }
    }

    &-save {
      font-size: 1em;
      position: fixed;
      bottom: 2%;
      right: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: vars.$buttonColor;
      border-top: 0.3em solid vars.$buttonColor;
      border-bottom: 0.3em solid vars.$buttonColor;
      border-left: 1em solid vars.$buttonColor;
      border-right: 1em solid vars.$buttonColor;
      border-radius: 25px;
      cursor: pointer;
      color: vars.$secondaryColor;
      transition: .3s;

      &:hover {
        transform: scale(1.1);
      }
    }

    &-img {
      width: 1em;
      margin-right: 1em;
    }
  }
}

.too_long {
  text-align: center;
  margin-top: 0.3em;
  color: red;
  font-style: italic;
  font-size: 0.4em;
}

@media screen and (max-width: 1500px) {
  .playlist-update {
    margin-left: 18em;
    margin-right: 3em;

    &-container {
      flex-direction: column;

      &-info-desc-input {
        width: 30em;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .playlist-update {
    margin-left: 3em;

    &-buttons {
      &-delete {
        font-size: 1.2em;
        position: fixed;
        bottom: 10%;
        right: 10%;
      }

      &-save {
        font-size: 1.2em;
        position: fixed;
        bottom: 10%;
        left: 10%;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .playlist-update {
    margin: 0.5em;
    font-size: 0.6em;

    &-container-info {

      &-img-link {
        width: 100%;
      }

      &-name-input {
        width: 100%;
      }
      
      &-desc-input {
        width: 100%;
      }
    }

    &-buttons {
      &-delete {
        font-size: 0.8em;
      }

      &-save {
        font-size: 0.8em;
      }
    }
  }
}
