// Ajout du fichier de variables
@use 'src/styles/vars';

.team {

  &-container {
    margin-left: 15em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-title {
      color: vars.$secondaryColor;
      font-weight: bold;
      margin-bottom: 1em;
    }

    &-list {
      display: flex;
      justify-content: space-evenly;

      &-card {
        margin: 2em;
        height: 470px;
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        transition: .3s;
        background-color: vars.$thirdColor;
        border-radius: 5px;

        &:hover {
          transform: scale(1.1);
        }

        &-img {
          width: 100%;
          border-radius: 5px;
        }

        &-id {
          &-name {
            font-size: 1.8em;
            font-weight: bold;
            margin: 0.5em;
            margin-top: 1em;
          }

          &-role {
            height: 2.5em;
            margin: 1em;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        &-link {
          margin-top: 1em;
          height: 3em;
        }
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .team-container {
    &-title {
      font-size: 0.6em;
    }
  
    &-list-card {
      margin: 1em;
      height: 235px;
      width: 125px;

      &-id {
        &-name {
          font-size: 0.8em;
        }

        &-role {
          font-size: 0.6em;
        }
      }
      
      &-link {
        margin-top: 0.5em;
        height: 1em;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .team-container {
    margin-left: 0;
    margin-top: 50vh;
    margin-bottom: 70vh;

    &-list {
      flex-direction: column;
    }

  }
}