// Ajout du fichier de variables
@use 'src/styles/vars';

.team {
  height: 100%;
  width: 100%;

  &-container {
    margin-left: 15em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-title {
      color: vars.$secondaryColor;
      font-weight: bold;
      margin-bottom: 4em;
    }

    &-list {
      display: flex;
      justify-content: space-evenly;

      &-card {
        margin: 2em;
        height: 450px;
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        transition: .3s;
        background-color: vars.$thirdColor;
        border-radius: 5px;

        &:hover {
          transform: scale(1.1);
        }

        &-img {
          width: 100%;
          border-radius: 5px;
        }

        &-id {
          &-name {
            font-size: 1.8em;
            font-weight: bold;
            margin: 0.5em;
            margin-top: 1em;
          }

          &-role {
            height: 2.5em;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        &-link {
          margin-top: 1em;
          height: 3em;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .team-container {
    margin-top: 20em;
    margin-bottom: 20em;
  
    &-list {
      flex-direction: column;
    }
  }
}
