// Ajout du fichier de variables
@use 'src/styles/vars';

.team {
  overflow: hidden;

  &-container {
    margin-left: 15em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-title {
      color: vars.$secondaryColor;
      font-weight: bold;
      margin-bottom: 1em;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 2em;
      color: rgb(150, 150, 150);
      animation: title_opacity 2s ease-in;
      cursor: default;

      &:hover {
        color: rgb(180, 180, 180);
      }
    }

    &-list {
      display: flex;
      justify-content: space-evenly;

      &-card {
        margin: 2em;
        height: 470px;
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: vars.$thirdColor;
        border-radius: 5px;
        transition: .3s;

        &:hover {
          background-color: rgb(60, 60, 60);
          transform: scale(1.1);
          color: white;
        }

        &-img {
          width: 100%;
          border-radius: 5px;
        }

        &-id {
          &-name {
            font-size: 1.8em;
            font-weight: bold;
            margin: 0.5em;
            margin-top: 1em;
          }

          &-role {
            height: 2.5em;
            margin: 1em;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        &-link {
          margin-top: 1em;
          height: 3em;
          transition: .3s;

          &:hover {
            transform: scale(0.9);
          }
        }
      }
    }
  }
}

.crew_member {
  &-1 {
    animation: from_left 1s ease-out;
  }

  &-2 {
    animation: from_top 1s ease-out;
  }

  &-3 {
    animation: from_bottom 1s ease-out;
  }

  &-4 {
    animation: from_right 1s ease-out;
  }
}

@keyframes from_left {
  0% {
    transform: translateX(-100vw);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes from_top {
  0% {
    transform: translateY(-100vh);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes from_bottom {
  0% {
    transform: translateY(100vh);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes from_right {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes title_opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

@media screen and (max-width: 1500px) {
  .team-container {
    &-title {
      font-size: 1.5em;
    }
  
    &-list-card {
      margin: 1em;
      height: 235px;
      width: 125px;

      &-id {
        &-name {
          font-size: 0.8em;
        }

        &-role {
          font-size: 0.6em;
        }
      }
      
      &-link {
        margin-top: 0.5em;
        height: 1em;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .team-container {
    margin-left: 0;
    margin-top: 50vh;
    margin-bottom: 70vh;

    &-title {
      margin-bottom: 5em;
    }

    &-list {
      flex-direction: column;
    }
  }
}