@use 'src/styles/vars';

iframe {
  display: none !important;
}

.game {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  &-found {
    padding: 1.5em;
    font-size: 1.5em;
    border-radius: 25px;
    position: fixed;
    bottom: 20%;
    background-color: green;
    animation: found_one .3s;

    &-all {
      padding: 1.5em;
      font-size: 1.5em;
      border-radius: 25px;
      position: fixed;
      bottom: 20%;
      background-color: dodgerblue;
      animation: found_all .3s;
    }
  }
  
  &-not_found {
    padding: 1.5em;
    font-size: 1.5em;
    border-radius: 25px;
    position: fixed;
    bottom: 20%;
    background-color: red;
    animation: not_found .3s;
  }
}

@keyframes found_one {
  0% {
    transform: translateY(30px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes found_all {
  0% {
    transform: translateY(30px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes not_found {
  0% {
    transform: translateY(30px);
  }

  100% {
    transform: translateY(0);
  }
}

hr {
  width: 50%;
  color: white;
}

@media screen and (max-width: 850px) {
  .game {
    &-found {
      bottom: 22%;
    }
    
    &-not_found {
      bottom: 22%;
    }
  }
}

@media screen and (max-width: 700px) {
  .game {
    &-found {
      font-size: 1.2em;
    }
    
    &-not_found {
      font-size: 1.2em;
    }
  }
}

@media screen and (max-width: 400px) {
  .game {
    &-found {
      font-size: 0.8em;
    }
    
    &-not_found {
      font-size: 0.8em;
    }
  }
}

@media screen and (max-height: 750px) {
  .game {
    font-size: 0.8em;
  }
}

@media screen and (max-height: 550px) {
  .game {
    font-size: 0.6em;
  }
}

@media screen and (max-height: 400px) {
  .game {
    font-size: 0.4em;
  }
}
