@use 'src/styles/vars';

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 900;
  margin-top: 25vh;
  border-radius: 50%;
  width: 20em;
  height: 20em; 
  padding: 3em;
  border: 20px solid rgb(60, 60, 60);
  position: relative;

  &:hover {
    color: white;
    border: 20px solid rgb(80, 80, 80);
  }

  &-content {
    font-size: 10em;
  }

  &-circle {
    width: 30px;
    height: 10px;
    border-radius: 20px;
    background: linear-gradient(45deg, (rgb(46, 92, 10), rgb(94, 141, 44)));
    position: absolute;
    border: 1px solid black;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    display: grid;
    place-items: center;
    z-index: 10;
    animation: circle 30s linear;

    &-pulse {
      position: absolute;
      height: 350%;
      width: 100%;
      border-radius: 50%;
      z-index: -10;
      opacity: 0.7;
      animation: pulse 1s ease-out infinite;
    }
  }
}

@keyframes circle {
  0% {
    transform: rotate(90deg) translate(-150px);
  }

  100% {
    transform: rotate(450deg) translate(-150px);
  }
}

@keyframes pulse {
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

@media screen and (max-width: 400px) {

  .timer {
    width: 15em;
    height: 15em;
    border: 15px solid rgb(60, 60, 60);

    &-content {
      font-size: 7.5em;
    }
  }

  @keyframes circle {
    0% {
      transform: rotate(90deg) translate(-112px);
    }
  
    100% {
      transform: rotate(450deg) translate(-112px);
    }
  }
}

@media screen and (max-height: 750px) {

  @keyframes circle {
    0% {
      transform: rotate(90deg) translate(-118px);
    }
  
    100% {
      transform: rotate(450deg) translate(-118px);
    }
  }
}

@media screen and (max-height: 550px) {

  @keyframes circle {
    0% {
      transform: rotate(90deg) translate(-85px);
    }
  
    100% {
      transform: rotate(450deg) translate(-85px);
    }
  }
}

@media screen and (max-height: 400px) {

  @keyframes circle {
    0% {
      transform: rotate(90deg) translate(-55px);
    }
  
    100% {
      transform: rotate(450deg) translate(-55px);
    }
  }
}