@use 'src/styles/vars';

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 900;
  margin-top: 25vh;
  border-radius: 50%;
  width: 20em;
  height: 20em;
  padding: 3em;
  border: 20px solid vars.$buttonColor;

  &-content {
    font-size: 10em;
  }
}

@media screen and (max-width: 400px) {

  .timer {
    width: 15em;
    height: 15em;
    border: 15px solid vars.$buttonColor;

    &-content {
      font-size: 7.5em;
    }
  }
}