@use 'src/styles/vars';

.previous {
  position: fixed;
  top: 0%;
  right: 0%;
  padding: 1em;
  min-width: 25em;
  background-color: vars.$buttonColor;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-bottom-left-radius: 5px;
  transition: .3s;

  &:hover {
    padding: 2em;
    
    .previous-content-img {
      height: 6em;
    }

    .previous-content-description {
      font-size: 1.5em;
    }
  }

  &-song {
    margin-bottom: 1em;
  }

  &-content {
    display: flex;
    justify-content: space-evenly;

    &-img {
      height: 4em;
      margin: 1em;
      transition: .3s;
    }

    &-description {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 1em;
      transition: .3s;
    }
  }
}

@media screen and (max-width: 850px) {
  .previous {
    font-size: 0.6em;
  }
}

@media screen and (max-width: 850px) {
  .previous {
    display: none;
  }
}