@use 'src/styles/vars';

.home-playlist {

  &-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }

  &-row {
    margin: 3em 0 3em 20em;
    display: flex;
    flex-direction: column;
    width: 100000000%;

    &-title {
      font-size: 2em;
    }
  }

  &-cards {
    display: flex;
    flex-wrap: nowrap;
    flex: 0 0 auto;
    transition: .5s;
    width: 100%;

    &-blur {
      position: absolute;
      right: 0vw;
      width: 70px;
      height: 300px;
      display: flex;
      align-items: center;
      background: linear-gradient(90deg, rgba(vars.$mainColor, 0) 0%, rgba(rgba(vars.$mainColor, 0), 1) 100%, rgba(rgba(vars.$mainColor, 0), 1) 100%);
      z-index: 3;

      &-arrow {
        height: 50px;
        background: rgba(vars.$secondaryColor, 0.7);
        border-radius: 50%;
        padding: 1em;
        transition: .3s;
        z-index: 5;
        cursor: pointer;
    
        &:hover {
          transform: translateX(5px);
        }
      }
    }

    &-leftblur {
      position: absolute;
      left: 0;
      width: 320px;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(270deg, rgba(vars.$mainColor, 0) 0%, rgba(rgba(vars.$mainColor, 1), 100) 100%, rgba(rgba(vars.$mainColor, 0), 1) 100%);
      z-index: 3;

      &-arrow {
        margin-left: 250px;
        height: 50px;
        background: rgba(vars.$secondaryColor, 0.9);
        border-radius: 50%;
        padding: 1em;
        transition: .3s;
        z-index: 5;
        cursor: pointer;
        transform: rotate(180deg);
    
        &:hover {
          transform: translateX(-5px) rotate(180deg);
        }
      }
    }
  }

  &-card {
    width: 150px;
    margin: 20px;
    display: inline-block;

    &:hover {
      transform: scale(1.1);
      transition: .3s;
    }

    &-logo {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 2%;
    }

    &-rating {
      width: 100px;
    }
  }
}

@media screen and (max-width: 850px) {
  .home-playlist {

    &-container {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    &-row {
      margin: 3em 0 3em 5em;
      display:flex;
      flex-direction: column;
    }

    &-cards {
      // scroll horizontal des cards
      display: flex;
      // scroll horizontal du container
      flex-wrap: nowrap;
      overflow-x: auto;
      flex: 0 0 auto;

      // cacher la scrollbar
      &::-webkit-scrollbar {
        display: none;
      }

      &-blur {
        display: none;
      }

      &-leftblur {
        display: none;
      }
    }

    &-card {
      margin: 1em;
      display: inline-block;

      &-logo {
        width: 150px;
        border-radius: 2%;
      }

      &-rating {
        width: 100px;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .home-playlist {

    &-row {
      margin: 1em 0 1em 2em;
    }

    &-card {
      width: 100px;
      margin: 0.5em;

      &-logo {
        width: 100px;
        height: 100px;
      }
    }
  }
}
