@use 'src/styles/vars';

.profil {
  background-color: vars.$mainColor;

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;

    &-avatar {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 50%;
    }
    
    &-pseudo {
      font-size: 2em;
      margin-top: 1em;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;

    &-title {
      font-size: 1.5em;
      font-weight: bold;
      margin: 1em;
    }

    &-item {
      margin-top: 1em;
    }
    
    &-form {
      margin-top: 1em;
      display: flex;
      flex-direction: column;
      align-items: center;

      &-input {
        margin: 0.2em;
        font-size: 1.2em;
        padding: 0.8em;
        width: 20em;
      }
      
      &-check {
        margin-top: 0.2em;
        margin-bottom: 1em;
        color: white;

        & input {
          margin: 0.6em;
        }
      }

      &-button {
        font-size: 1.2em;
        margin-top: 2em;
        padding: 0.5em;
        color: vars.$secondaryColor;
        background-color: vars.$buttonColor;
        border-top: 0.3em solid vars.$buttonColor;
        border-bottom: 0.3em solid vars.$buttonColor;
        border-left: 1em solid vars.$buttonColor;
        border-right: 1em solid vars.$buttonColor;
        border-radius: 25px;
        cursor: pointer;
        transition: .3s;

        &:hover {
          transform: scale(0.95);
        }
      }
    }

    &-delete {
      margin: 5em;
      transition: .3s;

      &:hover {
        transform: scale(0.95);
      }
      
      &-button {
        font-size: 1em;
        margin-top: 2em;
        padding: 0.5em;
        color: vars.$secondaryColor;
        background-color: vars.$buttonColor;
        border-top: 0.3em solid vars.$buttonColor;
        border-bottom: 0.3em solid vars.$buttonColor;
        border-left: 1em solid vars.$buttonColor;
        border-right: 1em solid vars.$buttonColor;
        border-radius: 25px;
        cursor: pointer;
      }
    }
  }
}

.error {
  color: red;
  font-style: italic;
  font-weight: bold;
  margin: 0.5em;
}

@media screen and (max-width: 850px) {
  .profil {
    margin-left: 0;
    width: 100%;
    margin-bottom: 5vh;
  }
}

@media screen and (max-width: 400px) {
  .profil {
    font-size: 0.7em;
  }
}
