// Ajout du fichier de variables
@use 'src/styles/vars';

.user-playlist {

  &-add {
    display: flex;
    text-align: center;
    margin: 2em;

    &-logo {
      border: 1px solid white;
      padding: 1em;
      width: 3em;
      height: 3em;
    }

    &-label {
      font-weight: bold;
      font-size: 2em;
      margin-left: 0.5em;
      margin-top: 0.2em;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        bottom: -3px;
        left: -5px;
        border: 2px solid transparent;
      }
    }

    &:hover {
      .user-playlist-add-label:after {
        animation: hover .3s linear forwards;
      }

      .user-playlist-add-logo {
        transition: .3s;
        transform: scale(0.95);
      }
    }
  }

  &-search {
    width: 100%;
    text-align: center;
    margin-bottom: 1em;

    &-input {
      font-size: 1.2em;
      padding: 0.5em;
      width: 15em;
      background-color: vars.$mainColor;
      border: none;
      color: white;
    }
  }

  &-container {
    margin-left: 15em;
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  &-row {
    margin: 3em 0 3em 10em;
    display:flex;
    flex-direction: column;
  }

  &-options {
    margin-top: 1em;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    &-edit {
      height: 40px;
      padding: 0.7em;
      border-radius: 5px;

      &:hover {
        transform: scale(0.8);
        background-color: rgb(35, 35, 218);
        transition: .2s;
      }
    }

    &-delete {
      height: 40px;
      padding: 0.7em;
      border-radius: 5px;

      &:hover {
        transform: scale(0.8);
        background-color: rgb(223, 28, 28);
        transition: .2s;
      }
    }
  }

  &-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &-card {
    margin: 1em;
    padding: 1.5em;
    display: inline-block;
    text-align: center;
    justify-content: center;
    width: 200px;
    height: 320px;
    background-color: rgb(40, 40, 40);
    border-radius: 10px;

    &:hover {
      transform: scale(1.1);
      transition: .3s;
    }

    &-logo {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 2%;
    }

    &-title {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      height: 2.5em;
      font-weight: bold;
    }

    &-rating {
      width: 100px;
    }
  }
}

@keyframes hover {
  0% {
    width: 0;
  }

  100% {
    width: 105%;
    border-bottom-color: vars.$secondaryColor;
  }
}

@media (max-width: 850px) {
  .user-playlist {
    &-container {
      margin-left: 0;
      margin-bottom: 10vh;
      width: 100%;
    }
  }
}

@media (max-width: 500px) {
  .user-playlist {

    &-card {
      margin: 0.5em;
      width: 150px;
      height: 250px;

      &-logo {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 2%;
      }

      &-title {
        font-size: 0.8em;
      }
    }

    &-add-logo {
      border: 1px solid white;
      padding: 0.3em;
      width: 1.5em;
      height: 1.5em;
    }

    &-add-label {
      font-size: 1.5em;
      margin-left: 0.5em;
      margin-top: 0;

    }
  }
}
