// Ajout du fichier de variables
@use 'src/styles/vars';

.user-playlist {

  &-add {
    display: flex;
    text-align: center;
    margin: 2em;

    &-logo {
      border: 1px solid white;
      padding: 1em;
      width: 3em;
      height: 3em;
    }

    &-label {
      font-weight: bold;
      font-size: 2em;
      margin-left: 0.5em;
      margin-top: 0.2em;
    }
  }

  &-container {
    margin-left: 15em;
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  &-row {
    margin: 3em 0 3em 10em;
    display:flex;
    flex-direction: column;
  }

  &-options {
    margin-top: 1em;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    &-edit {
      height: 20px;
      margin: 0.5em;
    }

    &-delete {
      height: 20px;
      margin: 0.5em;
    }
  }

  &-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &-card {
    margin: 1em;
    padding: 1em;
    display: inline-block;
    text-align: center;
    justify-content: center;
    width: 200px;
    height: 320px;
    border: 1px solid darkgrey;

    &-logo {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 2%;
    }

    &-title {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      height: 2.5em;
    }

    &-rating {
      width: 100px;
    }
  }
}
