// Ajout du fichier de variables
@use 'src/styles/vars';

.footer-container {
  display: flex;
  margin-left: 20em; 
  flex-direction: column;
  position: fixed;
  bottom: 0%;
  width: 100%;

  h5 {
    font-family: 'Nunito Sans';
    font-size: 1.2em;
    margin-top: 1em;
  }

  li {
    margin: 0.5em 0 0.2em 1em;
  }

  &-top {
    width: 80%;
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }

  &-logo {
    display: flex;
    flex-direction: column;
    text-align: center;
    
    span {
      margin: 0.5em;
      font-family: 'Nunito Sans';
      font-size: 1.5em;
    }
  }

  &-about {

  }

  &-info {

  }

  &-bottom {
    width: 80%;
    padding: 2em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

  }
}
