@use 'src/styles/vars';

.volume {
  position: fixed;
  right: 0%;
  bottom: 0%;
  background-color: vars.$menuColor;
  padding: 1em;
  border-top-left-radius: 10px;
  text-align: center;
  z-index: 2;
  transition: .2s;

  &:hover {
    padding: 1.5em;

    .volume-value {
      font-size: 1.1em;
    }

    .volume-button {
      font-size: 2em;
    }
  }

  &-value {
    margin-bottom: 0.5em;
    transition: .2s;
  }

  &-button {
    margin: 0.2em;
    font-size: 1.5em;
    border: none;
    width: 1.3em;
    border-radius: 50%;
    background-color: rgb(200, 200, 200);
    transition: .2s;

    &:hover {
      transition: 0s;
      background-color: white;
    }

    &:active {
      transition: .2s;
      transform: scale(0.8);
    }
  }
}

@media screen and (max-width: 850px) {
  .volume {
    display: none;
  }
}