@use 'src/styles/vars';

.info {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);

  &-bloc {
    display: flex;
    width: 40em;
    height: 14em;
    background-color: vars.$mainColor;
    padding: 1em;
    border-radius: 5px;
    justify-content: space-around;

    &-img {
      margin: 1em;
    }

    &-right {
      width: 100%;
      margin: 1em;
      margin-left: 3em;
      display: flex;
      flex-direction: column;
      
      &-top {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &-title {

        }

        &-close-button {
          height: 25px;
          width: 25px;
          }
      }

      &-bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        
        &-description {
          margin-top: 1em;
          font-size: 1.2em;
          font-family: 'Nunito Sans', sans-serif;
        }
  
        &-button {
          
          &-link {
            background-color: vars.$buttonColor;
            border-top: 0.3em solid vars.$buttonColor;
            border-bottom: 0.3em solid vars.$buttonColor;
            border-left: 1em solid vars.$buttonColor;
            border-right: 1em solid vars.$buttonColor;
            border-radius: 25px;
          }
        }
      }
  
  
      }
  
    }
    
  }


.info-bloc-img-playlist{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 2%;
  width:10rem;
}

.info-bloc-img-rating-star{
  width:5rem;
}

.info-bloc-description-button-game{
  background-color: red;
  color:vars.$secondaryColor;
  font-size: 30px;
  padding: 10px 60px;
  border-radius: 50px;
  cursor: pointer;
}

@media (max-width: 800px) {
  .info {
    &-bloc {
      width: 60vw;
      height: 59vh;
      background-color: black;
      padding: 1em;

      &-title{
        text-align: center;
        font-size:2.5rem;
        margin: -7em;
      }

      &-description {
        margin-top: 35rem;
        margin-left: 5rem;
        margin-right:5rem;
      }

      &-img-playlist{
        margin-top: 5rem;
        margin-left: 7.6rem;
      }

      &-button-link {
        margin-top: 16rem;
        width: 90px;
        float:right;
        font-size: 1.5em;
        background-color: vars.$buttonColor;
        padding: 0.5em;
        border-radius: 10px;
      }

      &-close-button {
          float:right;
          margin-top: 7.2em;
          border: none;
          font-size: 2em;
          width: 50px;
          margin-right: -1rem;
      }
    }
  }
}

@media (max-width: 500px) {
  .info {
    &-bloc {
      width: 80vw;
      height: 50%;
      background-color: black;
      padding: 1em;

      &-title{
        text-align: center;
        font-size:2.5rem;
        margin: -7em;
      }

      &-description {
        margin-top: 35rem;
        margin-left: 2rem;
        margin-right:2rem;
      }

      &-img-playlist{
        margin-top: 5rem;
        margin-left: 2.5rem;
      }

      &-button-link {
        margin-top: 40%;
        width: 90px;
        font-size: 1.5em;
        background-color: vars.$buttonColor;
        padding: 0.5em;
        border-radius: 10px;
      
      &-close-button {
          float:right;
          margin-top: 7.2em;
          border: none;
          font-size: 2em;
          width: 50px;
          margin-right: -1rem;
        }
      }
    }
  }
}
