@use 'src/styles/vars';

.behind { // Style for this class is already wrote on the connexion modal css
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.confirm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: confirm_modal .3s;

  &-modal {
    background-color: vars.$menuColor;
    border-radius: 10px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    z-index: 15;
    padding: 2em;
    text-align: center;

    &-text {
      margin: 1em;
      font-size: 1.3em;
      font-weight: bold;
    }

    &-span {
      margin-bottom: 1em;
    }

    &-confirm {
      margin: 1em;
      background-color: vars.$buttonColor;
      border-top: 0.3em solid vars.$buttonColor;
      border-bottom: 0.3em solid vars.$buttonColor;
      border-left: 1em solid vars.$buttonColor;
      border-right: 1em solid vars.$buttonColor;
      border-radius: 25px;
      color: vars.$secondaryColor;
      font-size: 1.2em;
      transition: .3s;

      &:hover {
        transform: scale(0.9);
        color: white;
      }
    }

    &-cancel {
      margin: 1em;
      background-color: vars.$buttonColor;
      border-top: 0.3em solid vars.$buttonColor;
      border-bottom: 0.3em solid vars.$buttonColor;
      border-left: 1em solid vars.$buttonColor;
      border-right: 1em solid vars.$buttonColor;
      border-radius: 25px;
      color: vars.$secondaryColor;
      font-size: 1.1em;
      transition: .3s;

      &:hover {
        transform: scale(0.9);
        color: white;
      }
    }
  }
}

@keyframes confirm_modal {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}