@use 'src/styles/vars';

.rating {
  position: fixed;
  top: 0%;
  left: 20em;
  background-color: vars.$buttonColor;
  padding: 1em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 1s;

  &-stars {
    margin-top: 0.5em;

    &-item {
      font-size: 1.5em;
      font-weight: bold;
      cursor: pointer;
      border: none;
      background-color: vars.$buttonColor;

      &:hover {
        color: rgb(223, 198, 59);
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .rating {
    display: none;
  }
}